*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.nav{
	height: 80px;
}
.container-fluid{
	max-width: 100%;
}
.container{
	max-width: 1375px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
ul.menu{
	display: flex;
}
.menu li{
	padding: 0 30px;
	
}
.menu li a{
	color: #b9b9b9;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0,2s ;
}
.menu li a.active{
	color: #e8663c;
}
.menu li a:hover{
	color: #e8663c;
}

.row>.col-lg-2{
	background-color:#f2ae9c;
	height: 60px;
}
.row3{
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

 
.content__img{
	display: flex;
}
.content__img img{	
    display: block;
        width: 50%;
		margin-left: 15px;
	
 }

.content__title{
	margin-top: 40px;
	margin-left: 17px;
}
.content__title .title{
	margin-left: 10px;
	color: #e8663c;
	font-weight: bold;
}
.content__title p{
	margin-top: 40px;
}
.content__title button{
	padding: 10px 15px;
	background-color: #e8663c;
	border:none;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: bold;
}
.name{
	display: block;
	color: #e8663c;
	margin-top: 45px;
	font-weight: bold;
	width: 100%;
}

.row__thumb{
	display: flex;
	flex-direction: row;

}
.col-3:not(:first-child){
	width: calc(25% -20px);
	margin-left: 25px;

}
.row__thumb img {
	display: block;
	width: 100%;

}
.info{
	padding: 15px;
	border-right: 3px solid #dbdbdb;
	border-bottom: 3px solid #dbdbdb;
	border-left: 3px solid #dbdbdb;
}
.info__title{
	color: #b9b9b9;
	
}
.info__span{
	color: #e8663c;
	font-weight: bold;
}
#footer{
	clear: both;
	width: 100%;
	height: 300px;
	display: flex;
	margin-top: 43px;

}
.left__footer{
	width:320px ;
	height: 300px;
	background-color: #f2ae9c;
}
#footer .mid__footer{
	width: 1355px;
	height: 300px;
	background-color: #e8663c;
	margin: 0 20px;
	display: flex;
	color:white;
}
.right__footer{
	width: 320px;
	height: 300px;
	background-color: #f2ae9c;
}
#footer .title__footer{
	margin-top: 40px;
}
#footer .mid__footer .mid2{
	margin: 0 20px;
}
#footer .mid__footer .icon{
	font-size: 50px;
	margin-top: 20px;
	color:#e8663c;
	
}
#footer .mid__footer .icon i{
	background-color: white;
	padding:10px 20px;
	border-radius: 5px;
}